src/*.exe
src/quickcoin
src/quickcoind
src/test_quickcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.quickcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
quickcoin-qt
Quickcoin-Qt.app

# Unit-tests
Makefile.test
quickcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
